[submodule "lib/fifo_map"]
	path = lib/fifo_map
	url = https://github.com/nlohmann/fifo_map.git
[submodule "lib/aegis"]
	path = lib/aegis
	url = https://github.com/geniiii/aegis.cpp.git
	branch = msvc-fix
[submodule "lib/robin_hood"]
	path = lib/robin_hood
	url = https://github.com/martinus/robin-hood-hashing.git
